<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shop To Immediate</title>
  <link type="text/css" href="css/styles2.css" rel="stylesheet">
</head>
<body>

  <header>
    <div class="nav-bar">   
        <img src="img/logo2.png" alt="Sti" class="imagelogo">
      
    </div>
    <div class="scroll-indicator-container">
    </div>
  </header>

  <section class="home2">
    <div class="home-message">
      
      <a href="/shop" class="shop-now-button">Shop Now</a>
    </div>
  </section>

  


  
  <footer class="footer">
    <div class="footer__addr">
      <h1 class="footer__logo">STI College </h1>
          
      <h2>Contact</h2>
      
      <address>
        Quirino Highway Corner Green Hights Subd, Novaliches, Quezon City, 1116 Metro Manila<br>
            
        <a class="footer__btn" href="mailto:sticlothesandaccessories@gmail.com">Email Us</a>
      </address>
    </div>
    
    <ul class="footer__nav">
      <li class="nav__item">
        <h2 class="nav__title">Socials</h2>
  
        <ul class="nav__ul">
          <li>
            <a href="https://www.youtube.com/user/STIdotEdu">Youtube</a>
          </li>
  
          <li>
            <a href="https://www.instagram.com/sti_college/">Instagram</a>
          </li>
          
          <li>
            <a href="https://twitter.com/sticollege">Twitter</a>
          </li>
          <li>
            <a href="https://www.facebook.com/sti.clothes.and.accessories">Facebook</a>
          </li>
        </ul>
      </li>
      
     
      
      <li class="nav__item">
        <h2 class="nav__title">Legal</h2>
        
        <ul class="nav__ul">
          <li>
            <a href="#">Privacy Policy</a>
          </li>
          
          <li>
            <a href="#">Terms of Service</a>
          </li>
          
          <li>
            <a href="#">Refund Policy</a>
          </li>
        </ul>
      </li>
    </ul>
    
    <div class="legal">
      <p>&copy; ©2022 STI Education Services Group, Inc. All rights reserved</p>
      
      <div class="legal__links">
        <span>Made with <span class="heart">❤️</span> from group 3</span>
      </div>
    </div>
  </footer>
  <script type="text/javascript" src="scripts/index.js"></script>


</body>
</html>