<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shop To Immediate</title>
  <link rel="stylesheet" href="css/shop.css">
</head>
<body>
  <header>
    <div class="nav-bar">   
        <img  src="img/logo2.png"  alt="Sti" class="imagelogo" >
        <div class="logo">Shop to Immediate</div>
<!-- 
        <div class="nav-sort">
          <div class="navS-items">
              <div class="dropdown">
                  <a href="#" class="dropdown-toggle">Senior High</a>
                  <ul class="dropdown-content">
                      <a href="#">Top</a>
                      <a href="#">Pants</a>
                      <a href="#">Others</a>
                  </ul>
              </div>
      
              <div class="dropdown-college">
                  <a href="#" class="dropdown-toggle-college">College</a>
                  <ul class="dropdown-content-college">
                      <a href="#">Information & Communications Technology <br></a>
                      <a href="#">Business & Management<br></a>
                      <a href="#">Hospitality Management<br></a>
                      <a href="#">Tourism Management<br></a>
                      <a href="#">Engineering<br></a>
                      <a href="#">Arts & Sciences<br></a>
                      <a href="#">Maritime<br></a>


                  </ul>
              </div>
      
              <div class="dropdown">
                  <a href="#" class="dropdown-toggle">Accessories</a>
                  <ul class="dropdown-content">
                      <a href="#">Necktie<br></a>
                      <a href="#">I.D Lace<br></a>
                      <a href="#">Pins<br></a>
                  </ul>
              </div>
          </div>
      </div> -->
      
      <div class="navigation">
        <div class="nav-items">
          <a href="#" class="cart-link" onclick="openCartPopup()">
            <i class="fas fa-shopping-cart"></i> CART (0)
          </a>
          <a href="/">Home</a>
          <a href="/login">Login</a>
        </div>
      </div>
    </div>
    <div class="scroll-indicator-container">
    </div>
  </header>

      <section class="home">
        <div class="sidebar">
          <input type="text" id="txtSearch" placeholder="Search Product..." />
          <h3>Category</h3>
          <ul class="category-list"></ul>
        </div>
        <div class="content">
          <div class="products"></div>
          <div class="order"></div>
        </div>
     
      <script src="scripts/shop.js"></script>
      
    </section>
   
 <section class="border"></section>

      



 <footer class="footer">
  <div class="footer__addr">
    <h1 class="footer__logo">Shop To Immediate </h1>
        
    <h2>Contact</h2>
    
    <address>
      Quirino Highway Corner Green Hights Subd, Novaliches, Quezon City, 1116 Metro Manila<br>
          
      <a class="footer__btn" href="mailto:sticlothesandaccessories@gmail.com">Email Us</a>
    </address>
  </div>
  
  <ul class="footer__nav">
    <li class="nav__item">
      <h2 class="nav__title">Socials</h2>

      <ul class="nav__ul">
        <li>
          <a href="https://www.youtube.com/user/STIdotEdu">Youtube</a>
        </li>

        <li>
          <a href="https://www.instagram.com/sti_college/">Instagram</a>
        </li>
        
        <li>
          <a href="https://twitter.com/sticollege">Twitter</a>
        </li>
        <li>
          <a href="https://www.facebook.com/sti.clothes.and.accessories">Facebook</a>
        </li>
      </ul>
    </li>
    
   
    
    <li class="nav__item">
      <h2 class="nav__title">Legal</h2>
      
      <ul class="nav__ul">
        <li>
          <a href="#">Privacy Policy</a>
        </li>
        
        <li>
          <a href="#">Terms of Service</a>
        </li>
        
        <li>
          <a href="#">Refund Policy</a>
        </li>
      </ul>
    </li>
  </ul>
  
  <div class="legal">
    <p>&copy;2023 Shop To Immediate, Inc. All rights reserved</p>
  </div>
</footer>
      <script type="text/javascript" src="scripts/index.js"></script>
    
    
</body>
</html>